.name {
  font-size: 130px;
  justify-content: left;
  font-weight: 300;
  background: -webkit-linear-gradient(#ff7130, #ff36c8, #872b97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0; /* Ensure no extra margin around the name */

}

.d1 {
  padding-top: 40px;
  padding-right: 600px;
  font-weight: 50;
}

.d2 {
  font-weight: 50;
}



.App-content {
  display: inline-block;
}

.App-header {
  background-color: #171721;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Github {
  border-radius: 10px;
  font-size: 20px;
}

